@use "./variables" as *;
main section.About {
  background-color: $veryLightGray;
  height: auto;
}
main .About .flex-about-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

section.About .flex-about-section h2 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.2;
  //   letter-spacing: 1px;
  color: $black;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: $blue;
}

section.About .flex-about-section .image-about-me img {
  //   box-sizing: border-box;
  //   border: solid red;
  border-radius: 50%;
}
section.About .flex-about-section h3 {
  margin: 20px;
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
}

section.About .flex-about-section {
  line-height: 1.5;
  width: 70%;
}
section.About .flex-about-section .btn-cv {
  width: 250px;
  height: 60px;
  padding: 5px;
  //   color: blue;
  background-color: $skyBlue;
  color: $white;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}
// adding hover for btn message

section.About .flex-about-section .btn-cv:hover {
  box-shadow: 10px 10px 10px $skyBlue;
}
