// colors

$black: black;
$semiTransparentBlack: rgba(0, 0, 0, 0.6);
$white: white;
$blue: rgb(0, 0, 255);
$red: red;
$veryLightGray: rgb(242, 242, 242);
$skyBlue: rgb(38, 137, 242);
$semiTransparentBlack2: rgba(0, 0, 0, 0.8);
$lightBlue: rgb(106, 127, 249);
$yellow: #ff0;
$brightBlue: #3498b9;
$skyBlue2: #2eb1eb;
$redOrange: #d14836;
$semiTransparentDarkGray: rgba(9, 10, 11, 0.8);
$main-color: #181717;
